# Build output
dist/

# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Logs
logs
logs/*
*.log
npm-debug.log*

# OS / Editor clutter
.DS_Store
.vscode/

# Cached Pages
cache/catalogue_pages/*
cache/detail_pages/*

# Ouput Files
output/*